---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Bagde from '../components/Bagde.astro';
---

<Layout title="dacm portfolio.">
	<main>
		<section class="w-full mx-auto lg:w-[740px] py-44">
			<h1 
				class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10"
			>
				Hola, soy Daniel
				<a href="https://www.linkedin.com/in/dacm1/" target="_blank" rel="noopener" class="flex justify-center items-center">
					<Bagde>Available to work</Bagde></div></h1>
			<h2 class="text-xl opacity-80">
				Me alegra saber que estás interesado en mi trabajo como backend developer. En mi tiempo libre, disfruto aprender sobre nuevas tecnologías y mejorar mis habilidades de programación. Siempre estoy buscando nuevos desafíos y oportunidades para crecer profesionalmente.</p>
				Además, soy una persona apasionada por el desarrollo de software y me esfuerzo por crear soluciones eficientes y de alta calidad para resolver problemas.</p>
				Si tienes alguna pregunta o estás interesado en colaborar en un proyecto, ¡no dudes en ponerte en contacto conmigo!
			</h2>			
		</section>
	</main>
</Layout>
