---
import Layout from "../layouts/Layout.astro";
import Bagde from "../components/Bagde.astro";
import GithubIcon from "../components/icons/GithubIcon.astro";
import LinkedIn from "../components/icons/LinkedInIcon.astro";
import SocialNetworks from "../components/SocialNetworks.astro";
import EmailIcon from "../components/icons/EmailIcon.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Briefcase from "../components/Briefcase.astro";
---

<Layout
  title="dacm - dev portfolio"
  description="Desarrollador backend -> JAVA, Spring Boot, JUnit."
>
  <main>
    <SectionContainer class="py-5 pb-24">
      <img
        class="rounded-full size-12 mb-4"
        src="/images/me.png"
        alt="dacm photo"
      />
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
        Hola, soy Daniel
        <a
          href="https://www.linkedin.com/in/dacm1/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Bagde>Available to work</Bagde></a
        >
      </h1>
      <h2 class="text-xl opacity-80 text-justify text-wrap">
        Me alegra saber que estás interesado en mi trabajo como backend
        developer. En mi tiempo libre, disfruto aprender sobre nuevas
        tecnologías y mejorar mis habilidades de programación. Siempre estoy
        buscando nuevos desafíos y oportunidades para crecer profesionalmente.
        Además, soy una persona apasionada por el desarrollo de software y me
        esfuerzo por crear soluciones eficientes y de alta calidad para resolver
        problemas. Si tienes alguna pregunta o estás interesado en colaborar en
        un proyecto, ¡no dudes en ponerte en contacto conmigo!
      </h2>

      <nav class="flex gap-x-2 mt-4">
        <SocialNetworks href="https://www.linkedin.com/in/dacm1">
          <LinkedIn class="size-6" />
          LinkedIn
        </SocialNetworks>
        <SocialNetworks href="https://github.com/dacm1999">
          <GithubIcon class="size-6" />
          Github
        </SocialNetworks>
        <SocialNetworks id="copyEmail">
          <EmailIcon class="size-6" />
          dacm.dev@icloud.com
        </SocialNetworks>
      </nav>
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2
        class="text-2xl font-semibold flex gap-x-3 items-center"
      >
      <Briefcase class="size-8"></Briefcase>
        Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>
  </main>
</Layout>
