---
const personalImageAlt = "Daniel Contreras";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Daniel Alejandro. Soy de Honduras pero desde hace unos años me
      mudé a León, España. Me gradué como <strong
        >Desarrollador de Aplicaciones Multiplataforma
      </strong>, actualmente me estoy enfocando en el área de backend.
    </p>
    <p>
      En mi tiempo libre, me gusta leer sobre tecnología y programación, y
      también me gusta practicar deportes como el fitness y senderismo. Me
      considero una persona <strong>
        proactiva, responsable y comprometida con mi trabajo, y siempre estoy
        dispuesto a aprender y a mejorar mis habilidades técnicas</strong
      >. Mi objetivo a largo plazo es convertirme en un experto en el desarrollo
      backend y contribuir con soluciones innovadoras que mejoren la calidad de
      los proyectos de software.
    </p>

    <p>
      Me apasiona todo lo relacionado con el desarrollo backend, valoro
      profundamente su impacto en los proyectos de software, y disfruto
      compartiendo mi conocimiento sobre esta especialidad. Como logro
      significativo fue recibir una <strong
        >mención de honor por mi proyecto final</strong
      >, que consistia en una aplicacion que implementaba una arquitectura de
      software de tipo cliente-servidor donde la parte del fronted,fue
      desarrollada en Vue.js, ya estaba completa, mientras que el desafío
      residía en <strong>
        testear y desplegar el backend utilizando Spring Boot</strong
      >, lo que despertó mi interés profundo por el mundo del backend.
    </p>

    <p>
      Mi formación técnica se complementa en varios lenguajes de programación.
      Destaco en <strong>Java</strong>, mi lenguaje favorito, con el que llevo
      tres años desarrollando software. Además, tengo experiencia práctica con <strong
        >JavaScript y PHP</strong
      >. En lo que respecta a frameworks, he desarrollado competencias en <strong
        >Spring Boot y Laravel</strong
      >. También poseo habilidades en diseño frontend, utilizando herramientas
      como <strong>HTML, CSS y Astro</strong>. En el área de pruebas de
      software, estoy versado en <strong>JUnit5 y Mockito</strong>, y manejo
      <strong>Git</strong> para el control de versiones. Tengo conocimientos en <strong
        >patrones de diseño y arquitectura de software</strong
      >, y una experiencia básica en el uso de <strong>AWS</strong> para el despliegue
      de aplicaciones.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/images/me.png"
    alt={personalImageAlt}
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 50% 50%"
  />
</article>
