<header
  class="flex justify-between items-center py-5 w-full xl:w-[1120px] 
  mx-auto"
>
  <span class="text-2xl font-bold"></span>

  <nav>
    <a href="#top">Inicio</a>
    <a href="#sobre-mi">Sobre mi</a>
    <a href="#experiencia">Experiencia</a>
    <a href="#proyectos">Proyectos</a>
    <a href="#contacto">Contactos</a>
  </nav>
</header>
