<a
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
  role="link"
  class="inline-flex items-center justify-center gap-2
  py-1 px-2 md:py-2 lg:px-4
  text-white transition
  bg-gray-800 border border-gray-600 rounded-full dark:bg-white dark:border-white dark:text-gray-800 focus-visible:ring-yellow-500/80 text-xs lg:text-base 
  hover:bg-white hover:border-white hover:text-gray-800 group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"
>
  <slot />
</a>
